<h2 class="booking-title" style="margin-top: 24px;">Reservation Center</h2>
<p class="booking-title">Upcoming reservations</p>

<div class="container justify-content-center">
  <% @bookings.each do |b| %>
    <div class="d-flex justify-content-left py-3">
      <img class="booking-card-img" src="<%= cl_image_tag b.boat.photo %>" alt="Card image cap">
      <div class="d-flex">
        <div class="boat-title-b">
          <p style="font-size: 18px"><%= b.boat.title %></p>
          <p>Starting date: <%= b.date_start.strftime("%A %B %e %Y") %></p>
          <p>Returning date: <%=b.date_end.strftime("%A %B %e %Y") %></p>
           Renting days: <%= day = (Date.parse(b.date_end.to_s) - Date.parse(b.date_start.to_s)).round %></p>
        </div>
        <div class="boat-owner-b" style="text-align: center">
          <p> Boat owner: <%= b.boat.user.first_name %><%= b.boat.user.last_name %></p>
        </div>
        <div class="boat-price-b" style="text-align: center">
          <p> Full Price: <%= b.boat.price*day %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>




