<div class="booking-page">

  <div class="card-category">
    <h1 class="booking-title" style="margin-top: 24px;">Reservation Center</h1>
  </div>

  <div class="container justify-content-center">

    <h4 class="booking-subtitle">Upcoming reservations</h4>

    <% @bookings.each do |b| %>
      <% if b.date_end >= Date.today %>

        <div class="d-flex justify-content-left py-4">
          <img class="booking-card-img" src="<%= b.boat.photo %>" alt="Card image cap">
          <div class="d-flex">
            <div class="boat-title-b">
              <p class="booking-boat-title" style="font-weight: bold"><%= link_to b.boat.title, boat_path(b.boat_id) %></p>
              <p>Starting date: <%= b.date_start.strftime("%A %B %e %Y") %></p>
              <p>Returning date: <%=b.date_end.strftime("%A %B %e %Y") %></p>
              <p>Renting days: <%= day = (Date.parse(b.date_end.to_s) - Date.parse(b.date_start.to_s)).round %></p>
            </div>
            <div class="boat-owner-b" style="text-align: center">
                <!-- <p>  b.boat.user.first_name b.boat.user.last_name </p> -->
              <p>Boat Owner</p>
              <img src="<%= b.boat.user.avatar.url(:bright_face) %>" class="avatar-booking">
            </div>
            <div class="boat-price-b" style="text-align: center">
                <p style="font-weight: bold"> Full Price: </p>
                <p><%= number_to_currency(b.boat.price*day, :unit => "$") %> </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>


    <h4 class="booking-subtitle"> Past Reservations</h4>

    <% @bookings.each do |b| %>
    <% if b.date_end < Date.today %>

      <div class="d-flex justify-content-left py-4">
        <img class="booking-card-img" src="<%= b.boat.photo %>" alt="Card image cap">
        <div class="d-flex">
          <div class="boat-title-b">
            <p class="booking-boat-title" style="font-weight: bold"><%= link_to b.boat.title, boat_path(b.boat_id) %></p>
            <p>Starting date: <%= b.date_start.strftime("%A %B %e %Y") %></p>
            <p>Returning date: <%=b.date_end.strftime("%A %B %e %Y") %></p>
            <p>Renting days: <%= day = (Date.parse(b.date_end.to_s) - Date.parse(b.date_start.to_s)).round %></p>
          </div>
            <div class="boat-owner-b" style="text-align: center">
              <!-- <p>  b.boat.user.first_name b.boat.user.last_name </p> -->
              <p>Boat Owner</p>
              <img src="<%= b.boat.user.avatar.url(:bright_face) %>" class="avatar-booking">
            </div>
            <div class="boat-price-b" style="text-align: center">
              <p style="font-weight: bold"> Full Price: </p>
              <p><%= number_to_currency(b.boat.price*day, :unit => "$") %> </p>
            </div>
        </div>
      </div>
            <div>
              <%= link_to "Rate your experience", new_booking_review_path(b) %>
              <% if b.review %>
                <%= b.review.rating %> <%= b.review.content %>
              <% end %>
            </div>
    <% end %>


    <% end %>
  </div>
</div>




