<%= link_to 'Add new boat', new_boat_path %> <br />


<% @boats.each do |b| %>
<%= b.title %> <br />
<%= b.description %> <br />
<p>User ID: <%= b.user_id %></p> <br />
<p>Price: $<%= b.price %></p> <br />
<%= b.available %>
<%= link_to 'show', boat_path(b) %> <br />

<hr>
<% end %>
