<div class="boat-banner-create">
  <img src="https://images.unsplash.com/photo-1528218171320-9d6f43a90d24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" />
  <div class="boat-banner-create-infos">
    <div class="title-boat">
      <%= simple_form_for @boat do |f| -%>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.submit %>
      <% end -%>
    </div>
  </div>
</div>

