<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1> List Your Boat</h1>
        <h4>Boatnb lets you make money renting out your boat</h4>
      </div>
    </div>
  </div>
</section>
<div class="card" style="width: 30rem;">
  <%= simple_form_for @boat do |f| -%>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photo %>
  <%= f.input :address %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
  <% end -%>
</div>

